[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
pep8 = "*"
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.10"
